<%= form_with model: included_price, url: (included_price.persisted? ? [:account, included_price] : [:account, @subscription, :included_prices]), local: true, class: 'form' do |form| %>
  <%= render 'account/shared/forms/errors', form: form %>

  <% with_field_settings form: form do %>
    <%= render 'shared/fields/super_select', method: :price_id, html_options: {autofocus: true, include_blank: t('.fields.price_id.placeholder')},
      choices: @included_price.valid_prices.map { |price| [price.label_string, price.id] } %>
    <%= render 'shared/fields/text_field', method: :quantity %>
    <%# 🚅 super scaffolding will insert new fields above this line. %>
  <% end %>

  <div class="buttons">
    <%= form.submit (form.object.persisted? ? t('.buttons.update') : t('.buttons.create')), class: "button" %>
    <% if form.object.persisted? %>
    <%= link_to t('global.buttons.cancel'), [:account, included_price], class: "button-secondary" %>
    <% else %>
    <%= link_to t('global.buttons.cancel'), [:account, @subscription, :included_prices], class: "button-secondary" %>
    <% end %>
  </div>

<% end %>
