<%= render "shared/cell" do |p| %>
  <%= p.content_for :title do %>
    <% if subscription.available_prices.any? %>
      <%= subscription.available_prices.map do |included_price| %>
        <% product = included_price&.product %>
        <% capture do %>
          <%= product.label_string %>
          <% if included_price.quantity.present? %>
            (<%= pluralize(included_price.quantity, t("billing/prices.models.#{included_price.quantity}.quantifier")) %>)
          <% end %>
        <% end %>
      <% end.to_sentence %>
    <% else %>
      <%= subscription.product.label_string %>
    <% end %>
    <% if subscription.umbrella? %>
      (via <%= subscription.covering_team.label_string %>)
    <% end %>
  <% end %>

  <%= p.content_for :status do %>
    <% if subscription.umbrella? && !subscription.valid_umbrella? && subscription.active? %>
      &nbsp;
      <%= render 'account/shared/alert' do %>
        <%= t('.invalid_umbrella_subscription') %>
      <% end %>
    <% else %>
      <%= render 'shared/attributes/option', object: subscription, attribute: :status %>
    <% end %>
  <% end %>

  <%= p.content_for :actions do %>
    <div class="space-x">
      <%= render "account/#{subscription.provider_subscription_type.underscore.pluralize}/cell_actions", subscription: subscription %>
    </div>
  <% end %>
<% end %>
