<% unless @subscription.included_prices.any? %>

  <%# TODO: Eventually we should use the umbrella_subscription_enabled? helper, but for now we're doing the other thing so we don't have to wait for PRs to land in other repos. %>
  <%# if umbrella_subscriptions_enabled? %>
  <% if defined?(BulletTrain::Billing::UmbrellaSubscriptions) %>
    <%= render 'account/billing/umbrella/subscriptions/new' %>
  <% end %>
  <div class="lg:px-12 lg:pb-14">
    <h1 class="brand-title text-light-gradient"><%= t(".pricing.header") %></h1>
    <p class="brand-description max-w-3xl"><%= t(".pricing.description").html_safe %> </p>
  </div>

  <%= render 'shared/billing/pricing_table', prices: Billing::Price.all %>
<% else %>
  <%= render 'account/shared/page' do |p| %>
    <% p.content_for :title, t('.section') %>
    <% p.content_for :body do %>
      <%= render 'account/shared/box', divider: true do |p| %>
        <% p.content_for :title, t('.header') %>
        <% p.content_for :description, t('.description') %>
        <% p.content_for :body do %>
          <% if @subscription.provider_subscription_type %>
            <%= render 'form', subscription: @subscription %>
          <% else %>
            <%= form_with model: @subscription, url: [:new, :account, @team, :billing_subscription], method: :get, local: true, class: 'form' do |form| %>
              <%= render 'account/shared/forms/errors', form: form %>
              <% with_field_settings form: form do %>
                <%= render 'shared/fields/buttons', method: :provider_subscription_type, html_options: {autofocus: true} %>
              <% end %>
              <div class="buttons">
                <%= form.submit t('.buttons.next'), class: "button" %>
                <%= link_to t('global.buttons.cancel'), [:account, @team, :billing_subscriptions], class: "button-secondary" %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
